{
  "swagger": "2.0",
  "info": {
    "title": "Alphaus Blue API reference",
    "description": "Alphaus provides an API for interacting with its services. Blue API is a RESTful API that can be accessed by an HTTP client such as `curl`, or any HTTP library which is part of most modern programming languages. This API reference is autogenerated from [protocol buffers](https://developers.google.com/protocol-buffers) defined in this [repository](https://github.com/alphauslabs/blueapi), together with our supported [client libraries](https://alphauslabs.github.io/docs/blueapi/client-sdks/). See the official [documentation](https://alphauslabs.github.io/docs/blueapi/overview/) for more information.\n\nYou may encounter the following feature maturity indicators:\n- **(WORK-IN-PROGRESS)** - Development is ongoing, don't use yet;\n- **(BETA)** - New or experimental features, subject to changes; and\n- **(Deprecated)** - Outdated or replaced features.\n\nSome endpoints, especially those that return lists of resources, have streaming responses; newline-separated stream of “chunks”. Each chunk is an envelope that can contain either a response message or an error. Only the last chunk will include an error, if any.",
    "version": "v0.beta",
    "contact": {
      "name": "Alphaus: Blue API",
      "url": "https://alphauslabs.github.io/docs/blueapi/overview/"
    },
    "license": {
      "name": "License: Apache License 2.0",
      "url": "https://github.com/alphauslabs/blueapi/blob/main/LICENSE"
    }
  },
  "tags": [
    {
      "name": "Organization",
      "description": "(BETA) Organization API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/org/"
      }
    },
    {
      "name": "KvStore",
      "description": "(BETA) KvStore API. Base URL: https://api.alphaus.cloud/m/blue/kv",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/kvstore/"
      }
    },
    {
      "name": "Iam",
      "description": "(BETA) IAM API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/iam/"
      }
    },
    {
      "name": "Admin",
      "description": "(BETA) Admin API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/admin/"
      }
    },
    {
      "name": "Cost",
      "description": "(BETA) Cost API. Base URL: https://api.alphaus.cloud/m/blue/cost",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/cost/"
      }
    },
    {
      "name": "Billing",
      "description": "(BETA) Billing API. Base URL: https://api.alphaus.cloud/m/blue/billing",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/billing/"
      }
    },
    {
      "name": "Operations",
      "description": "(BETA) Long operations API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/operations/"
      }
    },
    {
      "name": "Preferences",
      "description": "(BETA) Preferences API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/preferences/"
      }
    }
  ],
  "host": "api.alphaus.cloud",
  "basePath": "/m/blue",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/admin/v1/acctgroups": {
      "get": {
        "summary": "Lists all account groups.",
        "operationId": "Admin_ListAccountGroups",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1ListAccountGroupsResponse"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1ListAccountGroupsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Admin"
        ]
      }
    },
    "/admin/v1/acctgroups/{id}": {
      "get": {
        "summary": "Gets an account group.",
        "operationId": "Admin_GetAccountGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAccountGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Admin"
        ]
      }
    },
    "/admin/v1/aws/xacct/default": {
      "get": {
        "summary": "Gets a CloudFormation launch URL for enabling cross-account access to your account's billing information.\nUpon successful deployment, you need to validate the access by calling 'POST /admin/v1/aws/xacct/default'.",
        "operationId": "Admin_GetDefaultBillingInfoTemplateUrl",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetDefaultBillingInfoTemplateUrlResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "region",
            "description": "Optional. Set to the desired target region code. Defaults to 'ap-northeast-1' (Tokyo).\nYou can still change the final target region in the CloudFormation console before\nthe stack creation. You can check https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-available-regions\nfor the region list.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Admin"
        ]
      },
      "post": {
        "summary": "Starts validation of a cross-account access stack deployment. If successful,\nthe new IAM role will be registered to the target account.",
        "operationId": "Admin_CreateDefaultBillingInfoRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DefaultBillingInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateDefaultBillingInfoRoleRequest"
            }
          }
        ],
        "tags": [
          "Admin"
        ]
      }
    },
    "/admin/v1/aws/xacct/default/all:read": {
      "post": {
        "summary": "Lists the default cross-account role(s) attached to accounts under caller.",
        "operationId": "Admin_ListDefaultBillingInfo",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1DefaultBillingInfo"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1DefaultBillingInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Admin"
        ]
      }
    },
    "/admin/v1/aws/xacct/default/{target}": {
      "get": {
        "summary": "Gets the current role attached to input account.",
        "operationId": "Admin_GetDefaultBillingInfo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DefaultBillingInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "target",
            "description": "Required. The target AWS account to query.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Admin"
        ]
      },
      "delete": {
        "summary": "Deletes the current role attached to this target account. This does not delete the\nCloudFormation deployment in your account.",
        "operationId": "Admin_DeleteDefaultBillingInfoRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "target",
            "description": "Required. The target AWS account to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Admin"
        ]
      },
      "put": {
        "summary": "Starts an update to an existing CloudFormation for template changes, if any.",
        "operationId": "Admin_UpdateDefaultBillingInfoRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/blueapiapiOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "target",
            "description": "Required. The target AWS account to update.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Admin"
        ]
      }
    },
    "/iam/v1/apiclients": {
      "get": {
        "summary": "Lists all API clients belonging to the caller.",
        "operationId": "Iam_ListApiClients",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/apiApiClient"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of apiApiClient"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Iam"
        ]
      },
      "post": {
        "summary": "Creates an API client for the caller.",
        "operationId": "Iam_CreateApiClient",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiApiClient"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateApiClientRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/apiclients/{id}": {
      "delete": {
        "summary": "Deletes an API client belonging to the caller.",
        "operationId": "Iam_DeleteApiClient",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Required. The client id to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/grouprootusers": {
      "get": {
        "summary": "WORK IN PROGRESS\nRetrieves all the existing group root users asscoiated with the organization.",
        "operationId": "Iam_ListGroupRootUsers",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/apiGroupRootUser"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of apiGroupRootUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Iam"
        ]
      },
      "post": {
        "summary": "WORK IN PROGRESS:\nCreates a new root user for a billing group or access group.",
        "operationId": "Iam_CreateGroupRootUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiGroupRootUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateGroupRootUserRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/grouprootusers/{id}": {
      "get": {
        "summary": "WORK IN PROGRESS:\nRetrieves an group root user.",
        "operationId": "Iam_GetGroupRootUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiGroupRootUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      },
      "delete": {
        "summary": "WORK IN PROGRESS\nDeletes an existing group root user.",
        "operationId": "Iam_DeleteGroupRootUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/grouprootusers/{id}/features": {
      "get": {
        "summary": "WORK IN PROGRESS:\nRetrieves the features available to a user on an Alphaus product. For a list of\nvalid feature flags, see our documentation at https://alphauslabs.github.io/blueapi/apis/iam.html.",
        "operationId": "Iam_GetFeatureFlags",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiFeatureFlags"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      },
      "put": {
        "summary": "WORK IN PROGRESS:\nUpdates the features available to a user on an Alphaus product. For a list of\nvalid feature flags, see our documentation at https://alphauslabs.github.io/blueapi/apis/iam.html.",
        "operationId": "Iam_UpdateFeatureFlags",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiFeatureFlags"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "featureFlags": {
                  "$ref": "#/definitions/apiFeatureFlags"
                }
              },
              "title": "Request message for the Iam.UpdateFeatureFlags rpc"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/idps": {
      "get": {
        "summary": "Lists all SSO Identity Providers (IdP).",
        "operationId": "Iam_ListIdentityProviders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListIdentityProvidersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Iam"
        ]
      },
      "post": {
        "summary": "Registers an SSO Identity Provider (IdP).",
        "operationId": "Iam_CreateIdentityProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateIdentityProviderRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/idps/{id}": {
      "delete": {
        "summary": "Deletes an SSO Identity Provider (IdP).",
        "operationId": "Iam_DeleteIdentityProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Required. The IdP id to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/ipfilters": {
      "get": {
        "summary": "Lists all IP filters. At the moment, this API is only available to root users.",
        "operationId": "Iam_ListIpFilters",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1IpFilter"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1IpFilter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Iam"
        ]
      },
      "post": {
        "summary": "Creates an IP filter item for IP blacklisting or whitelisting. At the moment,\nthis API is only available to root users.",
        "operationId": "Iam_CreateIpFilter",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1IpFilter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateIpFilterRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/ipfilters/{id}": {
      "delete": {
        "summary": "Deletes an IP filter item. At the moment, this API is only available to root users.",
        "operationId": "Iam_DeleteIpFilter",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The IP filter id to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/permissions": {
      "get": {
        "summary": "Lists all permissions based on the input's scope. For reference, supported\npermissions can be found on [https://github.com/mobingi/rbac-permissions].",
        "operationId": "Iam_ListPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListPermissionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "subUser",
            "description": "Optional. The subuser to query. If empty (default), query all available permissions.\nIf set to a valid subuser, query that subuser's permissions, if allowed. You can\nalso set this field to `me` to query your own permissions.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/roles": {
      "get": {
        "summary": "Lists all available roles.",
        "operationId": "Iam_ListRoles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListRolesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "description": "Optional. If not set, all roles will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      },
      "post": {
        "summary": "Creates a role. If your `permissions` list contains an `Admin` entry, all other\nentries will be discarded except `Admin`. Roles are root user-level. That means\nall roles created by the root user, or any subuser that has permissions to\ncreate roles, are available to all subusers.",
        "operationId": "Iam_CreateRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiRole"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateRoleRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/roles/{namespace}/{name}": {
      "delete": {
        "summary": "Deletes a role. Deleting a role will also remove all mappings.",
        "operationId": "Iam_DeleteRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "description": "Required. The parent namespace.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Required. The role name to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      },
      "put": {
        "summary": "Updates a role. If role name is different, rename mapped role name.",
        "operationId": "Iam_UpdateRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiRole"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "description": "Required. The new namespace.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Required. The role name to update.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "newName": {
                  "type": "string",
                  "description": "Optional. If set, update the current name to this."
                },
                "permissions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Required. The list of permissions to attach to this role."
                }
              },
              "description": "Request message for the Iam.UpdateRole rpc."
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/userroles": {
      "get": {
        "summary": "Lists roles attached to the caller or the input.",
        "operationId": "Iam_ListUserRoleMappings",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListUserRoleMappingsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "subUser",
            "description": "Optional. The subuser to query. Defaults to caller if not set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      },
      "post": {
        "summary": "Maps roles to a subuser. You can only map (or attach) up to 5 roles to a user per namespace.\nThere is no limit for filtering rules per user.",
        "operationId": "Iam_CreateUserRoleMapping",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateUserRoleMappingResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateUserRoleMappingRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      },
      "put": {
        "summary": "Updates user-to-role mappings. You can only map (or attach) up to 5 roles to a user per namespace.\nThere is no limit for filtering rules per user.",
        "operationId": "Iam_UpdateUserRoleMapping",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdateUserRoleMappingResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateUserRoleMappingRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/users": {
      "get": {
        "summary": "Lists all subusers.",
        "operationId": "Iam_ListUsers",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/apiUser"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of apiUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Iam"
        ]
      },
      "post": {
        "summary": "Creates a subuser.",
        "operationId": "Iam_CreateUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateUserRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/users/{id}": {
      "get": {
        "summary": "Gets subuser information. This call includes all of the subuser metadata. See\n[https://alphauslabs.github.io/blueapi/] for the list of supported attributes.\nIf the `{name}` parameter is `me` or `-`, returns the caller information, which\nis equivalent to `WhoAmI()` or `GET:/iam/v*/whoami`.",
        "operationId": "Iam_GetUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      },
      "delete": {
        "summary": "Deletes a subuser.",
        "operationId": "Iam_DeleteUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Required. The subuser name to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/whoami": {
      "get": {
        "summary": "Gets user information about the caller. This call includes all of the user metadata.\nSee [https://alphauslabs.github.io/blueapi/] for the list of supported attributes.",
        "operationId": "Iam_WhoAmI",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Iam"
        ]
      }
    },
    "/ops/v1": {
      "get": {
        "summary": "Lists long-running operations.",
        "operationId": "Operations_ListOperations",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/blueapiapiOperation"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of blueapiapiOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "Optional. The name of the operation's parent resource. Not used at the moment.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "asOf",
            "description": "Optional. List operations on and after this date. Format is yyyymmdd. For example,\nif you want to list all operations starting from June 01, 2021, set to `20210601`.\nIf not set, defaults to the first day of the current UTC month.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeDone",
            "description": "Optional. If true, include all operations that are marked as done. Exclude by\ndefault.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Operations"
        ]
      }
    },
    "/ops/v1/{name}": {
      "get": {
        "summary": "Gets the latest state of a long-running operation. You can use this method to\npoll the operation result at intervals.",
        "operationId": "Operations_GetOperation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/blueapiapiOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "description": "The name of the operation resource.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Operations"
        ]
      },
      "delete": {
        "summary": "Deletes a long-running operation. This method indicates that the client is no\nlonger interested in the operation result. It does not cancel the operation.",
        "operationId": "Operations_DeleteOperation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "description": "The name of the operation resource to be deleted.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Operations"
        ]
      }
    },
    "/ops/v1/{name}:cancel": {
      "post": {
        "summary": "Starts asynchronous cancellation on a long-running operation. The server makes\na best effort to cancel the operation, but success is not guaranteed. On successful\ncancellation, the operation is not deleted; instead, it becomes an operation with\na value of [google.rpc.Status.code][google.rpc.Status.code] 1, corresponding\nto `Code.CANCELLED`.",
        "operationId": "Operations_CancelOperation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "description": "The name of the operation resource to be cancelled.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "Request message for the Operations.CancelOperation rpc."
            }
          }
        ],
        "tags": [
          "Operations"
        ]
      }
    },
    "/org/v1": {
      "get": {
        "summary": "Gets information about the caller's organization.",
        "operationId": "Organization_GetOrg",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/rippleOrg"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Organization"
        ]
      },
      "delete": {
        "summary": "WORK-IN-PROGRESS: Deletes the organization.",
        "operationId": "Organization_DeleteOrg",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Organization"
        ]
      },
      "post": {
        "summary": "Creates the organization account.",
        "operationId": "Organization_CreateOrg",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateOrgResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateOrgRequest"
            }
          }
        ],
        "tags": [
          "Organization"
        ]
      }
    },
    "/org/v1/metadata": {
      "put": {
        "summary": "WORK-IN-PROGRESS: Updates organization metadata. See [https://alphauslabs.github.io/blueapi/]\nfor the list of supported attributes.",
        "operationId": "Organization_UpdateMetadata",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateMetadataRequest"
            }
          }
        ],
        "tags": [
          "Organization"
        ]
      }
    },
    "/org/v1/passwd": {
      "put": {
        "summary": "Updates the organization password.",
        "operationId": "Organization_UpdatePassword",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdatePasswordRequest"
            }
          }
        ],
        "tags": [
          "Organization"
        ]
      }
    },
    "/org/v1:sendVerification": {
      "post": {
        "summary": "WORK-IN-PROGRESS: Sends (or resends) the verification email. Only valid for unverified\norganizations. The verification key will be valid for a day.",
        "operationId": "Organization_SendVerification",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Organization"
        ]
      }
    },
    "/org/v1:verify": {
      "post": {
        "summary": "WORK-IN-PROGRESS: Verifies an organization using the key received from the verification email.\nThe verification key is only valid for a day.",
        "operationId": "Organization_VerifyOrg",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Organization"
        ]
      }
    },
    "/prefs/v1": {
      "get": {
        "summary": "WORK-IN-PROGRESS: Gets current preferences.",
        "operationId": "Preferences_GetPreferences",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Preference"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Preferences"
        ]
      }
    },
    "/v1": {
      "post": {
        "summary": "Writes a new (or update an existing) key:value data in your store.",
        "operationId": "KvStore_Write",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/kvstorev1KeyValue"
            }
          }
        ],
        "tags": [
          "KvStore"
        ]
      }
    },
    "/v1/accessgroups/{accessGroupId}": {
      "get": {
        "summary": "WORK-IN-PROGRESS: Gets an access group.",
        "operationId": "Billing_GetAccessGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAccessGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "accessGroupId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/aws/cur:import": {
      "post": {
        "summary": "Initiates an ondemand import of all registered CUR files. See\n[https://help.alphaus.cloud/en/articles/3612555-ripple-aws-things-you-need-to-prepare-before-starting]\nfor more information.",
        "operationId": "Cost_ImportCurFiles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/blueapiapiOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ImportCurFilesRequest"
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/billinggroups": {
      "get": {
        "summary": "Lists all billing groups.",
        "operationId": "Billing_ListBillingGroups",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1BillingGroup"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1BillingGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Billing"
        ]
      },
      "post": {
        "summary": "Registers a billing group.",
        "operationId": "Billing_CreateBillingGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1BillingGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateBillingGroupRequest"
            }
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billinggroups/{billingInternalId}": {
      "get": {
        "summary": "Gets a billing group.",
        "operationId": "Billing_GetBillingGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetBillingGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "billingInternalId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/keys": {
      "get": {
        "summary": "Scans key:value data from your store.",
        "operationId": "KvStore_Scan",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/kvstorev1KeyValue"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of kvstorev1KeyValue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "like",
            "description": "Optional. If non-empty, translates to SQL's `LIKE` operand.\nReturn all keys by default.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "KvStore"
        ]
      }
    },
    "/v1/keys/{key}": {
      "get": {
        "summary": "Reads a key:value data from your store.",
        "operationId": "KvStore_Read",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/kvstorev1KeyValue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "key",
            "description": "Required. The key to read.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "KvStore"
        ]
      },
      "delete": {
        "summary": "Deletes a key:value data from your store.",
        "operationId": "KvStore_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "key",
            "description": "Required. The key to delete. To delete all keys, set this to `-` (hyphen).\nYou can also prefix this with `like:` which translates to SQL's LIKE operator.\nFor example, `like:%pattern%`.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "KvStore"
        ]
      }
    },
    "/v1/{vendor}/accounts": {
      "get": {
        "summary": "Lists all vendor accounts.",
        "operationId": "Cost_ListAccounts",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/apiAccount"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of apiAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      },
      "post": {
        "summary": "Registers a vendor account.",
        "operationId": "Cost_CreateAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Required. The account id to register."
                },
                "name": {
                  "type": "string",
                  "description": "Optional. If empty, set to the value of `id`."
                },
                "parent": {
                  "type": "string",
                  "description": "Optional. The parent `billingInternalId` of the billing group to which this account\nwill belong to."
                },
                "awsOptions": {
                  "$ref": "#/definitions/v1CreateAccountRequestAwsOptions",
                  "description": "Required for the `aws` vendor. AWS-specific options."
                }
              },
              "description": "Request message for the Cost.CreateAccount rpc."
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/accounts/{id}": {
      "get": {
        "summary": "Gets a vendor account. This API includes all of the account's metadata. See\nhttps://alphauslabs.github.io/blueapi/ for the list of supported attributes.",
        "operationId": "Cost_GetAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. The account id to retrieve.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      },
      "delete": {
        "summary": "Deletes a vendor account.",
        "operationId": "Cost_DeleteAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. The account id to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/adjustments:read": {
      "post": {
        "summary": "Reads the non-usage-based details of an organization (Ripple) or billing group (Wave).\nThis API covers non-usage-based adjustments, such as Fees, Credits, Discounts, Tax,\nUpfront Fees, etc. At the moment, the supported {vendor} is 'aws'. If datetime\nrange parameters are not set, month-to-date (current month) will be returned.",
        "operationId": "Cost_ReadAdjustments",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1CostItem"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1CostItem"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "groupId": {
                  "type": "string",
                  "description": "Optional. At the moment, only billing internal ids are supported. If set, reads the\nnon-usage-based adjustment details of this group. Valid only if `accountId` is not set.\nIf both `groupId` and `accountId` are not set, reads the adjustment details of the whole\norganization. Only valid for Ripple users. Implied (or discarded) for Wave(Pro) users."
                },
                "accountId": {
                  "type": "string",
                  "description": "Optional. If set, reads the non-usaged-based adjustment details of this account. Also\ninvalidates the `billingInternalId` value even if set. If both `billingInternalId`\nand `accountId` are not set, reads the adjustment details of the whole organization."
                },
                "startTime": {
                  "type": "string",
                  "description": "Optional. The UTC date to start streaming data from. If not set, the first day of the\ncurrent month will be used. Format: `yyyymmdd`."
                },
                "endTime": {
                  "type": "string",
                  "description": "Optional. The UTC date to end the streaming data. If not set, current date will be\nused. Format: `yyyymmdd`."
                },
                "awsOptions": {
                  "$ref": "#/definitions/v1ReadAdjustmentsRequestAwsOptions",
                  "description": "Optional. Valid only for the `aws` vendor. AWS-specific options."
                }
              },
              "description": "Request message for the Cost.ReadAdjustments rpc."
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/bep/{orgId}": {
      "get": {
        "summary": "WORK-IN-PROGRESS: Get the breakeven point details for the RI or SP.",
        "operationId": "Cost_GetBreakevenPoint",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetBreakevenPointResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgId",
            "description": "Required. Organization Id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "description": "Required. For AWS, \"ri\" or \"sp\".",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "arn",
            "description": "Required. RI/SP Arn.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/budget/{budgetId}": {
      "delete": {
        "summary": "Removes monthly budget for the account/acctgroup id from database.",
        "operationId": "Cost_DeleteAccountBudget",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "budgetId",
            "description": "Required. Budget Id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      },
      "put": {
        "summary": "Updates monthly budget for the account/acctgroup id.",
        "operationId": "Cost_UpdateAccountBudget",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "budgetId",
            "description": "Required. Budget Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/apiBudget"
                }
              },
              "title": "Request message for UpdateAccountBudget"
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/budget/{level}/{id}": {
      "get": {
        "summary": "Fetches monthly budget for the account/acctgroup id.",
        "operationId": "Cost_GetAccountBudget",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAccountBudgetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "level",
            "description": "Required. 'account' or 'acctgroup'",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. Account or AccountGroup Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "description": "Optional. Default is current year\nFormat: yyyy.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      },
      "post": {
        "summary": "Creates monthly budget for the account/acctgroup id.",
        "operationId": "Cost_CreateAccountBudget",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateAccountBudgetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "level",
            "description": "Required. 'account' or 'acctgroup'",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. Account or AccountGroup Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/apiBudget"
                }
              },
              "title": "Request message for CreateAccountBudget"
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/calculations/history": {
      "get": {
        "summary": "Lists vendor costs calculations history and statuses. Note that status information is sometimes unstable.",
        "operationId": "Cost_ListCalculationsHistory",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListCalculationsHistoryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "asOf",
            "description": "Optional. List operations on and after this date. Format is yyyymmdd. For example,\nif you want to list all operations starting from June 01, 2021, set to `20210601`.\nIf not set, defaults to the first day of the current UTC month.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "excludeDone",
            "description": "Optional. If true, exclude all operations that are marked as done. Include by\ndefault.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/calculator/config": {
      "get": {
        "summary": "WORK-IN-PROGRESS: Gets the vendor cost calculator's current configuration.",
        "operationId": "Cost_GetCalculatorConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetCalculatorConfigResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/calculator/status": {
      "get": {
        "summary": "WORK-IN-PROGRESS: Gets the vendor cost calculator's current status.",
        "operationId": "Cost_GetCalculatorStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetCalculatorStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "month",
            "description": "Optional. The UTC month to query. Defaults to current month if empty.\nFormat is `yyyymm`. For example, June 2021 will be `202106`.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/costs:calculate": {
      "post": {
        "summary": "Triggers monthly calculations for costs and invoices at either organization or billing group level.\nFor the AWS calculator, aggregation is done at daily and monthly level. Also, all occurrences of the\ncharacter `|` (pipe) in the CUR descriptions and tag key/values are replaced with the `/` (forward-slash)\ncharacter. This is due to the `|` character having a special designation in the data processing workflows.",
        "operationId": "Cost_CalculateCosts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/blueapiapiOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "groupId": {
                  "type": "string",
                  "description": "Optional. If set to a particular billing group, calculate for that billing group.\nIf empty, calculate for all billing groups.\n\nAt the moment, for AWS, this is only valid for account type billing groups, not\ntag billing groups. If a tag billing group is provided, it is discarded and the\ncalculation is done for the whole organization."
                },
                "month": {
                  "type": "string",
                  "description": "Optional. The UTC month to calculate. If empty, it defaults to the previous month.\nFormat is `yyyymm`. For example, June 2021 will be `202106`."
                },
                "awsOptions": {
                  "$ref": "#/definitions/v1CalculateCostsRequestAwsOptions",
                  "description": "Optional. Valid only for the `aws` vendor. AWS-specific options."
                }
              },
              "description": "Request message for the Cost.CalculateCosts rpc."
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/costs:read": {
      "post": {
        "summary": "Reads the usage-based cost details of an organization (Ripple) or billing group (Wave).\nAt the moment, the supported {vendor} is 'aws'. If datetime range parameters are\nnot set, month-to-date (current month) will be returned.",
        "operationId": "Cost_ReadCosts",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1CostItem"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1CostItem"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "groupId": {
                  "type": "string",
                  "description": "Optional. If set, reads the usage-based cost details of this group. Only valid for Ripple\nusers. Implied as the parent billing group for Wave(Pro) users.\n\nFor AWS Ripple, only billing internal ids are supported at the moment. Overriden when\n`accountId` is set to anything other than `*`. Set this and `accountId` to `*` to read\nthe usage-based cost details of the whole organization. Optional for AWS Wave(Pro)."
                },
                "accountId": {
                  "type": "string",
                  "description": "Optional. If set, reads the usage-based cost details of this account.\n\nFor AWS, setting this will override `groupId`. Set this and `groupId` to `*` to read the\nusage-based cost details of the whole organization."
                },
                "startTime": {
                  "type": "string",
                  "description": "Optional. The UTC date to start streaming data from. If not set, the first day of the\ncurrent month will be used. Format: yyyymmdd. The oldest supported date is 2020-01-01."
                },
                "endTime": {
                  "type": "string",
                  "description": "Optional. The UTC date to end the streaming data. If not set, current date will be\nused. Format: `yyyymmd`."
                },
                "awsOptions": {
                  "$ref": "#/definitions/v1ReadCostsRequestAwsOptions",
                  "description": "Optional. Valid only for the `aws` vendor. AWS-specific options."
                }
              },
              "description": "Request message for the Cost.ReadCosts rpc."
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/coverage/ondemand/{orgId}:read": {
      "post": {
        "summary": "WORK-IN-PROGRESS: Get ondemand cost details for an organization (or MSP).",
        "operationId": "Cost_GetCoverageOndemand",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetCoverageOndemandResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgId",
            "description": "Required. Organization Id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "period": {
                  "type": "string",
                  "title": "Required. Available values: day, hour"
                },
                "fromDate": {
                  "type": "string",
                  "description": "Optional. The start date of the displayed data. If not set, the first day of the\ncurrent month will be used. Format: yyyy-mm-dd."
                },
                "toDate": {
                  "type": "string",
                  "description": "Optional. The end date of the displayed data. If not set, current date will be\nused. Format: yyyy-mm-dd."
                },
                "payerId": {
                  "type": "string",
                  "description": "Optional. Payer Id."
                },
                "billingInternalId": {
                  "type": "string",
                  "description": "Optional. Billing group Id."
                },
                "groupId": {
                  "type": "string",
                  "description": "Optional. Account group Id."
                },
                "accounts": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Optional. List of Account Ids."
                },
                "services": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Optional. List of services."
                }
              },
              "title": "Request message for GetCoverageOndemand"
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/coverage/options/{orgId}:read": {
      "post": {
        "summary": "WORK-IN-PROGRESS: Get coverage options details for an organization (or MSP).",
        "operationId": "Cost_GetCoverageOptions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetCoverageOptionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgId",
            "description": "Required. Organization Id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "period": {
                  "type": "string",
                  "title": "Required. Available values: day, hour"
                },
                "fromDate": {
                  "type": "string",
                  "description": "Optional. The start date of the displayed data. If not set, the first day of the\ncurrent month will be used. Format: yyyy-mm-dd."
                },
                "toDate": {
                  "type": "string",
                  "description": "Optional. The end date of the displayed data. If not set, current date will be\nused. Format: yyyy-mm-dd."
                },
                "payerId": {
                  "type": "string",
                  "description": "Optional. Payer Id."
                },
                "billingInternalId": {
                  "type": "string",
                  "description": "Optional. Billing group Id."
                },
                "groupId": {
                  "type": "string",
                  "description": "Optional. Account group Id."
                },
                "accounts": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Optional. List of Account Ids."
                },
                "services": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Optional. List of services."
                }
              },
              "title": "Request message for GetCoverageOptions"
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/forecasts": {
      "get": {
        "summary": "Fetches cost forecasts for the specified billing group.\nIncludes historical cost (up to previous month) and forecasted cost (up to three months for now).",
        "operationId": "Cost_GetForecasts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetForecastsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "billingInternalId",
            "description": "Optional. Company Id of Billing Group to retrieve.\nDefault value is user's Company Id.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "frequency",
            "description": "Optional. Forecast frequency. Valid values are `daily` and `monthly`. \nDefault value is `daily`.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "level",
            "description": "Optional. Forecast granularity. Valid values are `account`, `category` and `product`.\nDefault value is `account`.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fromDate",
            "description": "Optional. Start date to get cost forecast. \nIf from_date is less than current date, historical costs are included.\nIf from_date is greater than current date, only forecasted costs are returned.\nFormat: `yyyy-mm-dd`.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "toDate",
            "description": "Optional. End date to get cost forecast. \nCurrently, we only support 90 days forecasting from the first day of current month.\nFormat: `yyyy-mm-dd`.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/forecasts/month-on-month/{level}/{id}": {
      "get": {
        "summary": "Fetches previous month cost vs current month forecast vs current accumulated cost per category for id.",
        "operationId": "Cost_GetMonthOnMonthCostForecast",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetMonthOnMonthCostForecastResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "level",
            "description": "Required. 'account' or 'acctgroup'",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. Account or AccountGroup Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "description": "Optional. Default is current month. \nFormat: yyyymm.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/forecasts/month-to-date/{level}/{id}": {
      "get": {
        "summary": "Fetches current month daily forecast vs current accumulated daily cost for id.",
        "operationId": "Cost_GetMonthToDateCostForecast",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetMonthToDateCostForecastResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "level",
            "description": "Required. 'account' or 'acctgroup'",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. Account or AccountGroup Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "description": "Optional. Default is current month. \nFormat: yyyymm.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/forecasts/monthly/{level}/{id}": {
      "get": {
        "summary": "Fetches monthly accumulated costs vs forecasted cost vs budget for the id.",
        "operationId": "Cost_GetMonthlyCostForecast",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetMonthlyCostForecastResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "level",
            "description": "Required. 'account' or 'acctgroup'",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. Account or AccountGroup Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fromDate",
            "description": "Optional. Start month to get cost forecast. \nFormat: `yyyymm`.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "toDate",
            "description": "Optional. Last month to get cost forecast. \nFormat: `yyyymm`.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/nontagcosts:read": {
      "post": {
        "summary": "Reads the usage-based non tag costs of a billing group. At the moment, the supported {vendor} is \n'aws'. If datetime range parameters are not set, month-to-date (current month) will be returned.",
        "operationId": "Cost_ReadNonTagCosts",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1CostItem"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1CostItem"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "billingInternalId": {
                  "type": "string",
                  "description": "Required. The billing internal id to stream."
                },
                "startTime": {
                  "type": "string",
                  "description": "Optional. Timestamp to start streaming data from. If not set, the first day of the\ncurrent month will be used. Format: `yyyymmdd`."
                },
                "endTime": {
                  "type": "string",
                  "description": "Optional. Timestamp to end the streaming data. If not set, current date will be used.\nFormat: `yyyymmdd`."
                },
                "groupByMonths": {
                  "type": "boolean",
                  "description": "Optional. Group services and costs by months in the range of `startTime` and `endTime`.\nIf not set, daily data will be returned."
                }
              },
              "description": "Request message for the Cost.ReadNonTagCosts rpc."
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/payers": {
      "get": {
        "summary": "Lists vendor payer accounts. For AWS, these are management accounts (formerly known\nas master or payer accounts); for Azure, these are subscriptions, for GCP, these\nare projects.",
        "operationId": "Cost_ListPayerAccounts",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/apiAccount"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of apiAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      },
      "post": {
        "summary": "Registers a vendor payer account.",
        "operationId": "Cost_CreatePayerAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "awsOptions": {
[...]
