{
  "swagger": "2.0",
  "info": {
    "title": "Alphaus Blue API reference",
    "description": "Alphaus provides an API for interacting with its services. Blue API is a RESTful API that can be accessed by an HTTP client such as `curl`, or any HTTP library which is part of most modern programming languages. This API reference is autogenerated from [protocol buffers](https://developers.google.com/protocol-buffers) defined in this [repository](https://github.com/alphauslabs/blueapi), together with our supported [client libraries](https://alphauslabs.github.io/blueapi/sdks/). See the official [documentation](https://alphauslabs.github.io/blueapi/) for more information.\n\nYou may encounter the following feature maturity indicators:\n- **(BETA)** - New or experimental features, subject to changes; and\n- **(Deprecated)** - Outdated or replaced features.\n\nSome endpoints, especially those that return lists of resources, have streaming responses; newline-separated stream of “chunks”. Each chunk is an envelope that can contain either a response message or an error. Only the last chunk will include an error, if any.",
    "version": "v0.beta",
    "contact": {
      "name": "Alphaus: Blue API",
      "url": "https://alphauslabs.github.io/blueapi/"
    },
    "license": {
      "name": "License: Apache License 2.0",
      "url": "https://github.com/alphauslabs/blueapi/blob/main/LICENSE"
    }
  },
  "tags": [
    {
      "name": "Organization",
      "description": "(BETA) Organization API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/org/"
      }
    },
    {
      "name": "KvStore",
      "description": "(BETA) KvStore API. Base URL: https://api.alphaus.cloud/m/blue/kv",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/kvstore/"
      }
    },
    {
      "name": "Iam",
      "description": "(BETA) IAM API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/iam/"
      }
    },
    {
      "name": "Admin",
      "description": "(BETA) Admin API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/admin/"
      }
    },
    {
      "name": "Cost",
      "description": "(BETA) Cost API. Base URL: https://api.alphaus.cloud/m/blue/cost",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/cost/"
      }
    },
    {
      "name": "Billing",
      "description": "(BETA) Billing API. Base URL: https://api.alphaus.cloud/m/blue/billing",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/billing/"
      }
    },
    {
      "name": "Operations",
      "description": "(BETA) Long operations API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/operations/"
      }
    },
    {
      "name": "Preferences",
      "description": "(BETA) Preferences API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/preferences/"
      }
    }
  ],
  "host": "api.alphaus.cloud",
  "basePath": "/m/blue",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/admin/v1/acctgroups": {
      "get": {
        "summary": "Lists all account groups.",
        "operationId": "Admin_ListAccountGroups",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1ListAccountGroupsResponse"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1ListAccountGroupsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Admin"
        ]
      }
    },
    "/admin/v1/acctgroups/{id}": {
      "get": {
        "summary": "Gets an account group.",
        "operationId": "Admin_GetAccountGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAccountGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Admin"
        ]
      }
    },
    "/iam/v1/apiclients": {
      "get": {
        "summary": "Lists all API clients belonging to the caller.",
        "operationId": "Iam_ListApiClients",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/apiApiClient"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of apiApiClient"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Iam"
        ]
      },
      "post": {
        "summary": "Creates an API client for the caller.",
        "operationId": "Iam_CreateApiClient",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiApiClient"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateApiClientRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/apiclients/{id}": {
      "delete": {
        "summary": "Deletes an API client belonging to the caller.",
        "operationId": "Iam_DeleteApiClient",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Required. The client id to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/ipfilters": {
      "get": {
        "summary": "Lists all IP filters. At the moment, this API is only available for root users.",
        "operationId": "Iam_ListIpFilters",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1IpFilter"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1IpFilter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Iam"
        ]
      },
      "post": {
        "summary": "Creates an IP filter item for IP blacklisting or whitelisting. At the moment,\nthis API is only available for root users.",
        "operationId": "Iam_CreateIpFilter",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1IpFilter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateIpFilterRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/ipfilters/{id}": {
      "delete": {
        "summary": "Deletes an IP filter item. At the moment, this API is only available for root users.",
        "operationId": "Iam_DeleteIpFilter",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The IP filter id to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/permissions": {
      "get": {
        "summary": "Lists all permissions based on the input's scope. For reference, supported\npermissions can be found on [https://github.com/mobingi/rbac-permissions].",
        "operationId": "Iam_ListPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListPermissionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "subUser",
            "description": "Optional. The subuser to query. If empty (default), query all available permissions.\nIf set to a valid subuser, query that subuser's permissions, if allowed. You can\nalso set this field to `me` to query your own permissions.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/roles": {
      "get": {
        "summary": "Lists all available roles.",
        "operationId": "Iam_ListRoles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListRolesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "description": "Optional. If not set, all roles will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      },
      "post": {
        "summary": "Creates a role. If your `permissions` list contains an `Admin` entry, all other\nentries will be discarded except `Admin`. Roles are root user-level. That means\nall roles created by the root user, or any subuser that has permissions to\ncreate roles, are available to all subusers.",
        "operationId": "Iam_CreateRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiRole"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateRoleRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/roles/{namespace}/{name}": {
      "delete": {
        "summary": "Deletes a role. Deleting a role will also remove all mappings.",
        "operationId": "Iam_DeleteRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "description": "Required. The parent namespace.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Required. The role name to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      },
      "put": {
        "summary": "Updates a role. If role name is different, rename mapped role name.",
        "operationId": "Iam_UpdateRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiRole"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "description": "Required. The new namespace.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Required. The role name to update.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "newName": {
                  "type": "string",
                  "description": "Optional. If set, update the current name to this."
                },
                "permissions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Required. The list of permissions to attach to this role."
                }
              },
              "description": "Request message for the Iam.UpdateRole rpc."
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/userroles": {
      "get": {
        "summary": "Lists roles attached to the caller or the input.",
        "operationId": "Iam_ListUserRoleMappings",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListUserRoleMappingsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "subUser",
            "description": "Optional. The subuser to query. Defaults to caller if not set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      },
      "post": {
        "summary": "Maps roles to a subuser. You can only map (or attach) up to 5 roles to a user per namespace.\nThere is no limit for filtering rules per user.",
        "operationId": "Iam_CreateUserRoleMapping",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateUserRoleMappingResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateUserRoleMappingRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      },
      "put": {
        "summary": "Updates user-to-role mappings. You can only map (or attach) up to 5 roles to a user per namespace.\nThere is no limit for filtering rules per user.",
        "operationId": "Iam_UpdateUserRoleMapping",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdateUserRoleMappingResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateUserRoleMappingRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/users": {
      "get": {
        "summary": "Lists all subusers.",
        "operationId": "Iam_ListUsers",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/apiUser"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of apiUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Iam"
        ]
      },
      "post": {
        "summary": "Creates a subuser.",
        "operationId": "Iam_CreateUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateUserRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/users/{id}": {
      "get": {
        "summary": "Gets subuser information. This call includes all of the subuser metadata. See\n[https://alphauslabs.github.io/blueapi/] for the list of supported attributes.\nIf the `{name}` parameter is `me` or `-`, returns the caller information, which\nis equivalent to `WhoAmI()` or `GET:/iam/v*/whoami`.",
        "operationId": "Iam_GetUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      },
      "delete": {
        "summary": "Deletes a subuser.",
        "operationId": "Iam_DeleteUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Required. The subuser name to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/iam/v1/whoami": {
      "get": {
        "summary": "Gets user information about the caller. This call includes all of the user metadata.\nSee [https://alphauslabs.github.io/blueapi/] for the list of supported attributes.",
        "operationId": "Iam_WhoAmI",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Iam"
        ]
      }
    },
    "/ops/v1": {
      "get": {
        "summary": "Lists long-running operations.",
        "operationId": "Operations_ListOperations",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/blueapiapiOperation"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of blueapiapiOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "Optional. The name of the operation's parent resource. Not used at the moment.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "asOf",
            "description": "Optional. List operations on and after this date. Format is yyyymmdd. For example,\nif you want to list all operations starting from June 01, 2021, set to `20210601`.\nIf not set, defaults to the first day of the current UTC month.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeDone",
            "description": "Optional. If true, include all operations that are marked as done. Exclude by\ndefault.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Operations"
        ]
      }
    },
    "/ops/v1/{name}": {
      "get": {
        "summary": "Gets the latest state of a long-running operation. You can use this method to\npoll the operation result at intervals.",
        "operationId": "Operations_GetOperation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/blueapiapiOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "description": "The name of the operation resource.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Operations"
        ]
      },
      "delete": {
        "summary": "Deletes a long-running operation. This method indicates that the client is no\nlonger interested in the operation result. It does not cancel the operation.",
        "operationId": "Operations_DeleteOperation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "description": "The name of the operation resource to be deleted.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Operations"
        ]
      }
    },
    "/ops/v1/{name}:cancel": {
      "post": {
        "summary": "Starts asynchronous cancellation on a long-running operation. The server makes\na best effort to cancel the operation, but success is not guaranteed. On successful\ncancellation, the operation is not deleted; instead, it becomes an operation with\na value of [google.rpc.Status.code][google.rpc.Status.code] 1, corresponding\nto `Code.CANCELLED`.",
        "operationId": "Operations_CancelOperation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "description": "The name of the operation resource to be cancelled.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "Request message for the Operations.CancelOperation rpc."
            }
          }
        ],
        "tags": [
          "Operations"
        ]
      }
    },
    "/org/v1": {
      "get": {
        "summary": "Gets information about the caller's organization.",
        "operationId": "Organization_GetOrg",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/rippleOrg"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Organization"
        ]
      },
      "delete": {
        "summary": "Deletes the organization.",
        "operationId": "Organization_DeleteOrg",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Organization"
        ]
      },
      "post": {
        "summary": "Creates the organization account.",
        "operationId": "Organization_CreateOrg",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateOrgResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateOrgRequest"
            }
          }
        ],
        "tags": [
          "Organization"
        ]
      }
    },
    "/org/v1/metadata": {
      "put": {
        "summary": "Updates organization metadata. See [https://alphauslabs.github.io/blueapi/]\nfor the list of supported attributes.",
        "operationId": "Organization_UpdateMetadata",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/rippleOrg"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateMetadataRequest"
            }
          }
        ],
        "tags": [
          "Organization"
        ]
      }
    },
    "/org/v1/passwd": {
      "put": {
        "summary": "Updates the organization password.",
        "operationId": "Organization_UpdatePassword",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/rippleOrg"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdatePasswordRequest"
            }
          }
        ],
        "tags": [
          "Organization"
        ]
      }
    },
    "/org/v1:sendVerification": {
      "post": {
        "summary": "Sends (or resends) the verification email. Only valid for unverified\norganizations. The verification key will be valid for a day.",
        "operationId": "Organization_SendVerification",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/rippleOrg"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Organization"
        ]
      }
    },
    "/org/v1:verify": {
      "post": {
        "summary": "Verifies an organization using the key received from the verification email.\nThe verification key is only valid for a day.",
        "operationId": "Organization_VerifyOrg",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/rippleOrg"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1VerifyOrgRequest"
            }
          }
        ],
        "tags": [
          "Organization"
        ]
      }
    },
    "/prefs/v1": {
      "get": {
        "summary": "Gets current preferences.",
        "operationId": "Preferences_GetPreferences",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Preference"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Preferences"
        ]
      }
    },
    "/v1": {
      "post": {
        "summary": "Writes a new (or update an existing) key:value data in your store.",
        "operationId": "KvStore_Write",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/kvstorev1KeyValue"
            }
          }
        ],
        "tags": [
          "KvStore"
        ]
      }
    },
    "/v1/aws/cur:import": {
      "post": {
        "summary": "Initiates an ondemand import of all registered CUR files. See\n[https://help.alphaus.cloud/en/articles/3612555-ripple-aws-things-you-need-to-prepare-before-starting]\nfor more information.",
        "operationId": "Cost_ImportCurFiles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/blueapiapiOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ImportCurFilesRequest"
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/billinggroups": {
      "get": {
        "summary": "Lists all billing groups.",
        "operationId": "Billing_ListBillingGroups",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1BillingGroup"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1BillingGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Billing"
        ]
      },
      "post": {
        "summary": "Registers a billing group.",
        "operationId": "Billing_CreateBillingGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1BillingGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateBillingGroupRequest"
            }
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billinggroups/{billingInternalId}": {
      "get": {
        "summary": "Gets a billing group.",
        "operationId": "Billing_GetBillingGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetBillingGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "billingInternalId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/keys": {
      "get": {
        "summary": "Scans key:value data from your store.",
        "operationId": "KvStore_Scan",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/kvstorev1KeyValue"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of kvstorev1KeyValue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "like",
            "description": "Optional. If non-empty, translates to SQL's `LIKE` operand.\nReturn all keys by default.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "KvStore"
        ]
      }
    },
    "/v1/keys/{key}": {
      "get": {
        "summary": "Reads a key:value data from your store.",
        "operationId": "KvStore_Read",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/kvstorev1KeyValue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "key",
            "description": "Required. The key to read.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "KvStore"
        ]
      },
      "delete": {
        "summary": "Deletes a key:value data from your store.",
        "operationId": "KvStore_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "key",
            "description": "Required. The key to delete. To delete all keys, set this to `-` (hyphen).\nYou can also prefix this with `like:` which translates to SQL's LIKE operator.\nFor example, `like:%pattern%`.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "KvStore"
        ]
      }
    },
    "/v1/{vendor}/accounts": {
      "get": {
        "summary": "Lists all vendor accounts.",
        "operationId": "Cost_ListAccounts",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/apiAccount"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of apiAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      },
      "post": {
        "summary": "Registers a vendor account.",
        "operationId": "Cost_CreateAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Required. The account id to register."
                },
                "name": {
                  "type": "string",
                  "description": "Optional. If empty, set to the value of `id`."
                },
                "parent": {
                  "type": "string",
                  "description": "Optional. The parent `billingInternalId` of the billing group to which this account\nwill belong to."
                },
                "awsOptions": {
                  "$ref": "#/definitions/v1CreateAccountRequestAwsOptions",
                  "description": "Required for the `aws` vendor. AWS-specific options."
                }
              },
              "description": "Request message for the Cost.CreateAccount rpc."
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/accounts/{id}": {
      "get": {
        "summary": "Gets a vendor account. This API includes all of the account's metadata. See\nhttps://alphauslabs.github.io/blueapi/ for the list of supported attributes.",
        "operationId": "Cost_GetAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. The account id to retrieve.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      },
      "delete": {
        "summary": "Deletes a vendor account.",
        "operationId": "Cost_DeleteAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. The account id to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/adjustments:read": {
      "post": {
        "summary": "Reads the non-usage-based details of an organization (Ripple) or billing group (Wave).\nThis API covers non-usage-based adjustments, such as Fees, Credits, Discounts, Tax,\nUpfront Fees, etc. At the moment, the supported {vendor} is 'aws'. If datetime\nrange parameters are not set, month-to-date (current month) will be returned.",
        "operationId": "Cost_ReadAdjustments",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1CostItem"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1CostItem"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "groupId": {
                  "type": "string",
                  "description": "Optional. At the moment, only billing internal ids are supported. If set, reads the\nnon-usage-based adjustment details of this group. Valid only if `accountId` is not set.\nIf both `groupId` and `accountId` are not set, reads the adjustment details of the whole\norganization. Only valid for Ripple users. Implied (or discarded) for Wave(Pro) users."
                },
                "accountId": {
                  "type": "string",
                  "description": "Optional. If set, reads the non-usaged-based adjustment details of this account. Also\ninvalidates the `billingInternalId` value even if set. If both `billingInternalId`\nand `accountId` are not set, reads the adjustment details of the whole organization."
                },
                "startTime": {
                  "type": "string",
                  "description": "Optional. The UTC date to start streaming data from. If not set, the first day of the\ncurrent month will be used. Format: `yyyymmdd`."
                },
                "endTime": {
                  "type": "string",
                  "description": "Optional. The UTC date to end the streaming data. If not set, current date will be\nused. Format: `yyyymmdd`."
                },
                "awsOptions": {
                  "$ref": "#/definitions/v1ReadAdjustmentsRequestAwsOptions",
                  "description": "Optional. Valid only for the `aws` vendor. AWS-specific options."
                }
              },
              "description": "Request message for the Cost.ReadAdjustments rpc."
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/budget/{budgetId}": {
      "delete": {
        "summary": "Removes monthly budget for the account/acctgroup id from database.",
        "operationId": "Cost_DeleteAccountBudget",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "budgetId",
            "description": "Required. Budget Id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      },
      "put": {
        "summary": "Updates monthly budget for the account/acctgroup id.",
        "operationId": "Cost_UpdateAccountBudget",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "budgetId",
            "description": "Required. Budget Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/apiBudget"
                }
              },
              "title": "Request message for UpdateAccountBudget"
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/budget/{level}/{id}": {
      "get": {
        "summary": "Fetches monthly budget for the account/acctgroup id.",
        "operationId": "Cost_GetAccountBudget",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAccountBudgetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "level",
            "description": "Required. 'account' or 'acctgroup'",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. Account or AccountGroup Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "description": "Optional. Default is current year\nFormat: yyyy.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      },
      "post": {
        "summary": "Creates monthly budget for the account/acctgroup id.",
        "operationId": "Cost_CreateAccountBudget",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateAccountBudgetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "level",
            "description": "Required. 'account' or 'acctgroup'",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. Account or AccountGroup Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/apiBudget"
                }
              },
              "title": "Request message for CreateAccountBudget"
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/calculations/history": {
      "get": {
        "summary": "Lists vendor costs calculations history and statuses.",
        "operationId": "Cost_ListCalculationsHistory",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListCalculationsHistoryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "asOf",
            "description": "Optional. List operations on and after this date. Format is yyyymmdd. For example,\nif you want to list all operations starting from June 01, 2021, set to `20210601`.\nIf not set, defaults to the first day of the current UTC month.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "excludeDone",
            "description": "Optional. If true, exclude all operations that are marked as done. Include by\ndefault.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/calculator/config": {
      "get": {
        "summary": "WORK-IN-PROGRESS: Gets the vendor cost calculator's current configuration.",
        "operationId": "Cost_GetCalculatorConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetCalculatorConfigResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/calculator/status": {
      "get": {
        "summary": "WORK-IN-PROGRESS: Gets the vendor cost calculator's current status.",
        "operationId": "Cost_GetCalculatorStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetCalculatorStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/costs:calculate": {
      "post": {
        "summary": "Triggers monthly calculations for costs and invoices at either organization or billing group level.\nFor the AWS calculator, aggregation is done at daily and monthly level. Also, all occurrences of the\ncharacter `|` (pipe) in the CUR descriptions and tag key/values are replaced with the `/` (forward-slash)\ncharacter. This is due to the `|` character having a special designation in the data processing workflows.",
        "operationId": "Cost_CalculateCosts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/blueapiapiOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "groupId": {
                  "type": "string",
                  "description": "Optional. If set to a particular billing group, calculate for that billing group.\nIf empty, calculate for all billing groups.\n\nAt the moment, for AWS, this is only valid for account type billing groups, not\ntag billing groups. If a tag billing group is provided, it is discarded and the\ncalculation is done for the whole organization."
                },
                "month": {
                  "type": "string",
                  "description": "Optional. The UTC month to calculate. If empty, it defaults to the previous month.\nFormat is `yyyymm`. For example, June 2021 will be `202106`."
                },
                "awsOptions": {
                  "$ref": "#/definitions/v1CalculateCostsRequestAwsOptions",
                  "description": "Optional. Valid only for the `aws` vendor. AWS-specific options."
                }
              },
              "description": "Request message for the Cost.CalculateCosts rpc."
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/costs:read": {
      "post": {
        "summary": "Reads the usage-based cost details of an organization (Ripple) or billing group (Wave).\nAt the moment, the supported {vendor} is 'aws'. If datetime range parameters are\nnot set, month-to-date (current month) will be returned.",
        "operationId": "Cost_ReadCosts",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1CostItem"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1CostItem"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "groupId": {
                  "type": "string",
                  "description": "Optional. If set, reads the usage-based cost details of this group. Only valid for Ripple\nusers. Implied as the parent billing group for Wave(Pro) users.\n\nFor AWS Ripple, only billing internal ids are supported at the moment. Overriden when\n`accountId` is set to anything other than `*`. Set this and `accountId` to `*` to read\nthe usage-based cost details of the whole organization. Optional for AWS Wave(Pro)."
                },
                "accountId": {
                  "type": "string",
                  "description": "Optional. If set, reads the usage-based cost details of this account.\n\nFor AWS, setting this will override `groupId`. Set this and `groupId` to `*` to read the\nusage-based cost details of the whole organization."
                },
                "startTime": {
                  "type": "string",
                  "description": "Optional. The UTC date to start streaming data from. If not set, the first day of the\ncurrent month will be used. Format: yyyymmdd."
                },
                "endTime": {
                  "type": "string",
                  "description": "Optional. The UTC date to end the streaming data. If not set, current date will be\nused. Format: `yyyymmd`."
                },
                "awsOptions": {
                  "$ref": "#/definitions/v1ReadCostsRequestAwsOptions",
                  "description": "Optional. Valid only for the `aws` vendor. AWS-specific options."
                }
              },
              "description": "Request message for the Cost.ReadCosts rpc."
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/forecasts": {
      "get": {
        "summary": "Fetches cost forecasts for the specified billing group.\nIncludes historical cost (up to previous month) and forecasted cost (up to three months for now).",
        "operationId": "Cost_GetForecasts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetForecastsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "description": "Optional. Company Id of Billing Group to retrieve.\nDefault value is user's Company Id.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "frequency",
            "description": "Optional. Forecast frequency. Valid values are `daily` and `monthly`. \nDefault value is `daily`.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "level",
            "description": "Optional. Forecast granularity. Valid values are `account`, `category` and `product`.\nDefault value is `account`.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fromDate",
            "description": "Optional. Start date to get cost forecast. \nIf from_date is less than current date, historical costs are included.\nIf from_date is greater than current date, only forecasted costs are returned.\nFormat: `yyyy-mm-dd`.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "toDate",
            "description": "Optional. End date to get cost forecast. \nCurrently, we only support 90 days forecasting from the first day of current month.\nFormat: `yyyy-mm-dd`.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/forecasts/month-on-month/{level}/{id}": {
      "get": {
        "summary": "Fetches previous month cost vs current month forecast vs current accumulated cost per category for id.",
        "operationId": "Cost_GetMonthOnMonthCostForecast",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetMonthOnMonthCostForecastResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "level",
            "description": "Required. 'account' or 'acctgroup'",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. Account or AccountGroup Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "description": "Optional. Default is current month. \nFormat: yyyymm.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/forecasts/month-to-date/{level}/{id}": {
      "get": {
        "summary": "Fetches current month daily forecast vs current accumulated daily cost for id.",
        "operationId": "Cost_GetMonthToDateCostForecast",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetMonthToDateCostForecastResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "level",
            "description": "Required. 'account' or 'acctgroup'",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. Account or AccountGroup Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "description": "Optional. Default is current month. \nFormat: yyyymm.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/forecasts/monthly/{level}/{id}": {
      "get": {
        "summary": "Fetches monthly accumulated costs vs forecasted cost vs budget for the id.",
        "operationId": "Cost_GetMonthlyCostForecast",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetMonthlyCostForecastResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "level",
            "description": "Required. 'account' or 'acctgroup'",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. Account or AccountGroup Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fromDate",
            "description": "Optional. Start month to get cost forecast. \nFormat: `yyyymm`.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "toDate",
            "description": "Optional. Last month to get cost forecast. \nFormat: `yyyymm`.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/nontagcosts:read": {
      "post": {
        "summary": "Reads the usage-based non tag costs of a billing group. At the moment, the supported {vendor} is \n'aws'. If datetime range parameters are not set, month-to-date (current month) will be returned.",
        "operationId": "Cost_ReadNonTagCosts",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1CostItem"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1CostItem"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "billingInternalId": {
                  "type": "string",
                  "description": "Required. The billing internal id to stream."
                },
                "startTime": {
                  "type": "string",
                  "description": "Optional. Timestamp to start streaming data from. If not set, the first day of the\ncurrent month will be used. Format: `yyyymmdd`."
                },
                "endTime": {
                  "type": "string",
                  "description": "Optional. Timestamp to end the streaming data. If not set, current date will be used.\nFormat: `yyyymmdd`."
                },
                "groupByMonths": {
                  "type": "boolean",
                  "description": "Optional. Group services and costs by months in the range of `startTime` and `endTime`.\nIf not set, daily data will be returned."
                }
              },
              "description": "Request message for the Cost.ReadNonTagCosts rpc."
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/payers": {
      "get": {
        "summary": "Lists vendor payer accounts. For AWS, these are management accounts (formerly known\nas master or payer accounts); for Azure, these are subscriptions, for GCP, these\nare projects.",
        "operationId": "Cost_ListPayerAccounts",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/apiAccount"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of apiAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      },
      "post": {
        "summary": "Registers a vendor payer account.",
        "operationId": "Cost_CreatePayerAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "awsOptions": {
                  "$ref": "#/definitions/v1CreatePayerAccountRequestAwsOptions",
                  "description": "Required for the `aws` vendor. AWS-specific options."
                }
              },
              "description": "Request message for the Cost.CreatePayerAccount rpc."
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/payers/{id}": {
      "get": {
        "summary": "Gets a vendor payer account. This API includes all of the account's metadata.\nSee https://alphauslabs.github.io/blueapi/ for the list of supported attributes.\nFor AWS, this means a management account (formerly known as master or payer account);\nfor Azure, this means a subscription, for GCP, this means a project.",
        "operationId": "Cost_GetPayerAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. The id of the account to get.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      },
      "delete": {
        "summary": "Deletes a vendor payer account.",
        "operationId": "Cost_DeletePayerAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. The id of the account.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/payers/{id}/importhistory": {
      "get": {
        "summary": "Gets a payer account's import history, which is a list of timestamps our system tracks when the account's data are\nimported to our system, which in turn, triggers processing. At the moment, this only supports AWS (CUR files).\nYou can also set {id} to `*` to return all payers' information under the organization.",
        "operationId": "Cost_GetPayerAccountImportHistory",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1GetPayerAccountImportHistoryResponse"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1GetPayerAccountImportHistoryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Required. The account id to query. Could be `*`, which implies all payers.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "month",
            "description": "Optional. The UTC month to query. If empty, defaults to current month.\nFormat is `yyyymm`. For example, June 2021 will be `202106`.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/recommendations/{orgId}": {
      "post": {
        "summary": "WORK-IN-PROGRESS: Get cost opmtimization recommendations for an organization (or MSP).",
        "operationId": "Cost_GetRecommendations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetRecommendationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgId",
            "description": "Required. Organization Id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "accounts": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Required. List of Account Ids."
                },
                "awsOptions": {
                  "$ref": "#/definitions/v1GetRecommendationsRequestAwsOptions",
                  "title": "Required if vendor = 'aws'"
                }
              },
              "title": "Request message for GetRecommendations"
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/reduction/{orgId}": {
      "post": {
        "summary": "WORK-IN-PROGRESS: Get cost reduction details for an organization (or MSP).",
        "operationId": "Cost_GetCostReduction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetCostReductionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgId",
            "description": "Required. Organization Id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "reductionDisplay": {
                  "type": "string",
                  "title": "Required. Valid values: 'all', 'reservation', 'savingsplan'"
                },
                "period": {
                  "type": "string",
                  "description": "Optional. The month to display the cost reduction details. If not set,\nmonth-to-date will be used. Format: yyyymm."
                },
                "payerId": {
                  "type": "string",
                  "description": "Optional. Payer Id."
                },
                "groupId": {
                  "type": "string",
                  "description": "Optional. Billing group Id."
                },
                "accounts": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Optional. List of Account Ids."
                },
                "services": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Optional. List of services."
                }
              },
              "title": "Request message for GetCostReduction"
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    },
    "/v1/{vendor}/tagcosts:read": {
      "post": {
        "summary": "Reads the usage-based tag costs of a billing group. At the moment, the supported {vendor} is \n'aws'. If datetime range parameters are not set, month-to-date (current month) will be returned.",
        "operationId": "Cost_ReadTagCosts",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1CostItem"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1CostItem"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "description": "Required. At the moment, only `aws` is supported.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "billingInternalId": {
                  "type": "string",
                  "description": "Required. The billing internal id to stream."
                },
                "startTime": {
                  "type": "string",
                  "description": "Optional. Timestamp to start streaming data from. If not set, the first day of the\ncurrent month will be used. Format: `yyyymmdd`."
                },
                "endTime": {
                  "type": "string",
                  "description": "Optional. Timestamp to end the streaming data. If not set, current date will be used.\nFormat: `yyyymmdd`."
                },
                "groupByMonths": {
                  "type": "boolean",
                  "description": "Optional. Group services and costs by months in the range of `startTime` and `endTime`.\nIf not set, daily data will be returned."
                },
                "awsOptions": {
                  "$ref": "#/definitions/v1ReadTagCostsRequestAwsOptions",
                  "description": "Optional. Valid only for the `aws` vendor. AWS-specific options."
                }
              },
              "description": "Request message for the Cost.ReadTagCosts rpc."
            }
          }
        ],
        "tags": [
          "Cost"
        ]
      }
    }
  },
  "definitions": {
    "apiAccount": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The account id."
        },
        "name": {
          "type": "string",
          "description": "The account name."
        },
        "metadata": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/blueapiapiKeyValue"
          },
          "description": "The attributes (key/value pair) of the account."
        }
      }
    },
    "apiAccountGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The AccountGroup id."
        },
        "name": {
          "type": "string",
          "description": "The AccountGroup name."
        },
        "metadata": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/blueapiapiKeyValue"
          },
          "description": "The attributes (key/value pair) of the AccountGroup."
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/apiAccount"
          }
        }
      }
    },
    "apiApiClient": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "API client id."
        },
        "clientSecret": {
          "type": "string",
          "description": "API client secret. Only available during creation; otherwise, redacted."
        },
        "name": {
          "type": "string",
          "description": "API client name."
        },
        "grantType": {
          "type": "string",
          "description": "Grant type. Always set to `client_credentials`."
        },
        "parent": {
          "type": "string",
          "description": "The client's parent resource."
        },
        "createTime": {
          "type": "string"
        }
      }
    },
    "apiBillingGroupForecast": {
      "type": "object",
      "properties": {
        "companyId": {
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/apiForecastData"
          }
        }
      }
    },
    "apiBudget": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "fiscalYear": {
          "type": "string",
          "title": "Format: yyyy"
        },
        "monthlyBudget": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/apiMonthlyBudget"
          }
        }
      }
    },
    "apiForecastData": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string"
        },
        "productCategory": {
          "type": "string"
        },
        "productCode": {
          "type": "string"
        },
        "frequency": {
          "type": "string"
        },
        "date": {
          "type": "string"
        },
        "historicalCost": {
          "type": "number",
          "format": "double"
        },
        "forecastedCost": {
          "type": "number",
          "format": "double"
        },
        "upperBound": {
          "type": "number",
          "format": "double"
        },
        "lowerBound": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "apiMonthOnMonthCostForecast": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string"
        },
        "costCurrent": {
          "type": "number",
          "format": "double"
        },
        "costPrev": {
          "type": "number",
          "format": "double"
        },
        "costForecast": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "apiMonthToDateCostForecast": {
      "type": "object",
      "properties": {
        "date": {
          "type": "string"
        },
        "costPrev": {
          "type": "number",
          "format": "double"
        },
        "costAccumulated": {
          "type": "number",
          "format": "double"
        },
        "costForecast": {
          "type": "number",
          "format": "double"
        },
        "upperBound": {
          "type": "number",
          "format": "double"
        },
        "lowerBound": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "apiMonthlyBudget": {
      "type": "object",
      "properties": {
        "yearMonth": {
          "type": "string",
          "title": "Format: yyyymm"
        },
        "amount": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "apiMonthlyCostForecast": {
      "type": "object",
      "properties": {
        "date": {
          "type": "string"
        },
        "costActual": {
          "type": "number",
          "format": "double"
        },
        "costForecast": {
          "type": "number",
          "format": "double"
        },
        "budget": {
          "type": "number",
          "format": "double"
        },
        "upperBound": {
          "type": "number",
          "format": "double"
        },
        "lowerBound": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "apiPermission": {
      "type": "object",
      "properties": {
        "namespace": {
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/apiPolicy"
          }
        }
      }
    },
    "apiPolicy": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "effect": {
          "type": "string"
        },
        "key": {
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "apiRole": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/apiPolicy"
          }
        }
      }
    },
    "apiUser": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "User's unique id."
        },
        "parent": {
          "type": "string",
          "description": "The user's parent. If empty or non-existent, it means this user is a root user;\notherwise, it's a subuser."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The attributes (key/value pair) of the user. If hierarchy is supported, it will be\nseparated by '/', such as 'key/subkey=value'. See https://alphauslabs.github.io/blueapi/\nfor the list of supported attributes."
        }
      }
    },
    "apiUserRoleMapping": {
      "type": "object",
      "properties": {
        "rootUser": {
          "type": "string"
        },
        "subUser": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        }
      }
    },
    "awsAdjustmentsTypeList": {
      "type": "object",
      "properties": {
        "types": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "awsAwsCostReductions": {
      "type": "object",
      "properties": {
        "summary": {
          "$ref": "#/definitions/awsCostReductionSummary"
        },
        "riCostReductions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/awsRiCostReduction"
          }
        },
        "spCostReductions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/awsSpCostReduction"
          }
        }
      }
    },
    "awsAwsRecommendations": {
      "type": "object",
      "properties": {
        "summary": {
          "$ref": "#/definitions/awsReservationRecommendationSummary"
        },
        "riRecommendations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/awsRiRecommendation"
          }
        },
        "spRecommendations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/awsSpRecommendation"
          }
        }
      }
    },
    "awsCalculatorConfig": {
      "type": "object",
      "properties": {
        "adjustmentsTypeList": {
          "$ref": "#/definitions/awsAdjustmentsTypeList",
          "description": "CUR lineitem types included in Ripple's 'Adjusting Entries'."
        },
        "excludedServicesFromUsage": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/awsExcludedServiceFromUsage"
          },
          "description": "List of services that are of type 'Usage' in CUR that are excluded,\noptionally converted to Adjustments."
        }
      },
      "description": "AWS's calculation engine configuration(s)."
    },
    "awsCalculatorStatus": {
      "type": "object",
      "properties": {
        "lastMonthlyRun": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Timestamp in UTC of the last completed calculation at org level for a given month.\nKey is month in `yyyy-mm` format, value is timestamp in RFC3339 format."
        },
        "isRunning": {
          "type": "object",
          "additionalProperties": {
            "type": "boolean"
          },
          "description": "Whether the calculator is still running for a given month.\nKey is month in `yyyy-mm` format, value is true or false."
        }
      }
    },
    "awsCost": {
      "type": "object",
      "properties": {
        "account": {
          "type": "string"
        },
        "groupId": {
          "type": "string",
[...]
